---
interface Props {
  color: String;
  width: String;
  paddingHorizontales: String;
  paddingVerticales: String;
  menssage: String;
  link?: String;
}

const { color, paddingHorizontales, paddingVerticales, width, menssage, link } =
  Astro.props;
---

<a
  href=`${link}`
  class=`group bg-[#733651] text-[#FAF0DF]  py-${paddingVerticales}  px-${paddingHorizontales} ${width} rounded-lg mt-4 shadow-lg text-center hover:!bg-[#D99D55] border-2 border-[#D99D55]  flex justify-center items-center gap-1.5 transition-all duration-300`
>
  {menssage}
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    class="size-6 transition-transform duration-300 group-hover:translate-x-1"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
  </svg>
</a>
<style>
  a {
    font-family: "Work Sans Variable", sans-serif;
    font-weight: 500;
    font-size: 14px;
  }

  button {
    font-family: "Work Sans Variable", sans-serif;
    font-weight: 500;
    font-size: 14px;
    box-shadow: 0px 4.8px 4.8px 0px rgba(0, 0, 0, 0.25);
  }
</style>
